<% content_for :sidebar do %>
    <div class="section">
      <div class="contextual">Sidebar context</div>
      <h1>Side bar section</h1>

      <p>Could be content like this, or it could be a list of links, like the following:</p>

      <div class="contextual">Sidebar context 2</div>
      <h2>Other section</h2>

      <p>
        Could be content like this, or it could be a list of links, like the following:
        <small>sample small text</small>
      </p>

      <ul>
        <li><a href="#">Link one</a></li>
        <li><a href="#">Link two</a></li>
        <li><a href="#">Link three</a></li>
        <li><a href="#">Link four</a></li>
      </ul>
    </div>

    <button class="big pill positive button">
      <span class="plus icon"></span>add item
    </button>
<% end %>

<div class="contextual">Contextual stuff here</div>

<h1>&lt;h1&gt;Page title&lt;/h1&gt;</h1>

<div class="page_head" id="page_head">
  <img class="avatar" src="http://t0.gstatic.com/images?q=tbn:ANd9GcTVxdeYLkwTqq8cpWpsmeRbaSz1jgazv3gQM4pz2KthRv4zDxxxmg"/>

  <h2>Message subject</h2>

  <p>
    <span class="label">From:</span> El tio que manda el mensaje
  </p>

  <p>
    <span class="label">To:</span> El tio que lo recibe
  </p>

  <p>
    <span class="label">Date:</span> <%= Time.now %>
  </p>

</div>

<p>&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem ligula, congue sed adipiscing non,
  fringilla at orci. Nullam a turpis vitae justo imperdiet volutpat sed nec nisl. In hac habitasse platea dictumst.
  Nulla gravida sagittis purus sit amet sagittis. Nam ipsum tortor, porttitor sit amet adipiscing ut, congue sed arcu.
  Nulla egestas felis vitae nisl convallis viverra condimentum est vehicula. In a lectus libero. Proin aliquet posuere
  ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque
  hendrerit pharetra lobortis. Sed ullamcorper ipsum convallis orci hendrerit interdum. Integer semper iaculis suscipit.
  Integer eget hendrerit diam. Nullam eleifend orci arcu, sit amet tincidunt dui. Nullam at diam vitae justo aliquam
  rutrum. Sed tellus velit, mollis non euismod quis, ornare eu orci. Nullam ut nisl sit amet felis posuere hendrerit et
  ut leo. Sed sit amet dui libero. In consectetur lobortis vehicula.&lt;/p&gt;</p>


<div class="comment">
  <img width="48" height="48" src="https://asset0.37img.com/global/missing/avatar.png?r=3" class="avatar photo" alt="">

  <div class="indented">
    <h5><span class="name">Carlos Segura</span> <span class="date"><%= Time.now %></span></h5>

    <p>
      Nulla egestas felis vitae nisl convallis viverra condimentum est vehicula. In a lectus libero. Proin aliquet
      posuere
      ultrices. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque
      hendrerit pharetra lobortis. Sed ullamcorper ipsum convallis orci hendrerit interdum. Integer semper iaculis
      suscipit.
    </p>
  </div>
</div>

<h4>Sample</h4>
<div class="container">
  <div class="card">
    <img width="48" height="48" src="https://asset0.37img.com/global/missing/avatar.png?r=3" class="avatar photo" alt="">
    <div class="info">
      <h5>Name, Surname</h5><p>Other info<br/>More info<br/>Other more<br/>more</p>
    </div>
  </div>
  <div class="card"> 2</div>
  <div class="card"> 3</div>
  <div class="card"> 4</div>
  <div class="card"> 5</div>
  <div class="card"> 6</div>
  <div class="card"> 7</div>
  <div class="card"> 8</div>
  <div class="card"> 9</div>
  <div class="card"> 10</div>
</div>
<div class="clearfix"></div>
<p>Sample paragraph</p>