<h4>
  <span class="counter" id="timetracks_counter"><%= counter %></span>
  <%= t('timetrack.title') %>
</h4>

<table class="und" id="timetracks">
  <% if counter > 0 %>
    <%= render timetracks %>
  <% end %>
</table>
