/* used with the wysiwyg editor */

*, html { padding:0; margin:0; }
html { background:#fff; color:#000; }
body { font: 13px/14px "Lucida Grande",Geneva,Arial,Verdana,sans-serif; padding-top: 4px; line-height: 1.5em; margin: 1em 0; }
a:link, a:active { text-decoration:underline;color:blue; }
a:hover, a:focus { color:red; }
ul, dl, ol { margin: 0.5em 0 1em 3em; }
p { line-height: 1.5em; margin: 1em 0; }
