<!DOCTYPE html>
<html class="ui-mobile landscape min-width-320px min-width-480px min-width-768px max-width-1024px">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- meta charset="utf-8" -->
  <title>mobile</title>

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css"/>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.js"></script>

  <%= javascript_include_tag "application_mobile" %>
  <%= stylesheet_link_tag "mobile" %>
  <%= csrf_meta_tag %>
  <link rel="apple-touch-icon" href="/images/home/apple.png"/>
</head>

<body class="ui-mobile-viewport">
<div id="main" data-role="page" class="type-interior">
  <%= yield %>
</div>
</body>
</html>
